.list-item {
	margin-bottom: 3rem;
}
.place-img {
	width: 300px;
	margin-bottom: 1.7rem;
}
.place-name {
	font-size: 1.5rem;
	font-weight: 500;
}
 @media screen and (max-width: 767px) {
	.place-img {
		width: 450px;
		margin-bottom: 2rem;
	} 
	.place-name {
		font-size: 1.8rem;
	}
 }